<app-personal></app-personal>
<br><br>
<div class="container">
  <div class="service-box container mb-3">
    <div class="row">
      <div class="col-md-2 d-none d-md-block header" style="text-align: center"><b>Date Completed</b></div>
      <div class="col-md-2 d-none d-md-block header" style="text-align: center"><b>Question #</b></div>
      <div class="col-md-6 d-none d-md-block header" style="text-align: center"><b>Solution</b></div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 col-8 block"></div>
    <div class="col-md-2 col-8 block"></div>
    <div class="col-md-6 col-8 block"></div>
  </div>
</div>