<br>
<div class="container" style="width:100%">
  <b>Weekday Schedule - v3 (June 2019 - Present)</b>
  <table>
    <tr>
      <th>Time</th>
      <th>Activity</th>
    </tr>
    <tr><td>7:00am - 7:30am</td><td>Morning Misc, Shower</td></tr>
    <tr><td>7:30am - 8:30am</td><td>Cooking, Eat, Dishes</td></tr>
    <tr><td>8:30am - 8:40am</td><td>Pack</td></tr>
    <tr><td>8:40am - 9:00am</td><td>Bike</td></tr>
    <tr><td>9:00am - 5:00pm</td><td>Work</td></tr>
    <tr><td>5:00pm - 5:30pm</td><td>Bike</td></tr>
    <tr><td>5:30pm - 6:00pm</td><td>Eating, Dishes</td></tr>
    <tr><td>6:00pm - 7:00pm</td><td>Coding</td></tr>
    <tr><td>7:00pm - 7:30pm</td><td>Gym Prep, Bike</td></tr>
    <tr><td>7:30pm - 9:00pm</td><td>Gym</td></tr>
    <tr><td>9:00pm - 9:30pm</td><td>Shower, Dress</td></tr>
    <tr><td>9:30pm - 10:00pm</td><td>Bike, Evening Misc</td></tr>
  </table>
  <br>
  <b>Weekday Schedule - v2 (May 2019)</b>
  <table>
    <tr>
      <th>Time</th>
      <th>Activity</th>
    </tr>
    <tr><td>6:00am - 6:15am</td><td>Getting Up</td></tr>
    <tr><td>6:15am - 6:30am</td><td>Meditation</td></tr>
    <tr><td>6:30am - 7:30am</td><td>Coding/Reading</td></tr>
    <tr><td>7:30am - 8:00am</td><td>Breakfast</td></tr>
    <tr><td>8:00am - 8:30am</td><td>Shower</td></tr>
    <tr><td>8:30am - 9:00am</td><td>Transit</td></tr>
    <tr><td>9:00am - 5:00pm</td><td>Work</td></tr>
    <tr><td>5:00pm - 5:15pm</td><td>Eat</td></tr>
    <tr><td>5:15pm - 5:45pm</td><td>Transit, Walk</td></tr>
    <tr><td>5:45pm - 7:30pm</td><td>Gym</td></tr>
    <tr><td>7:30pm - 8:00pm</td><td>Shower</td></tr>
    <tr><td>8:00pm - 8:35pm</td><td>Walk, Bus</td></tr>
    <tr><td>8:35pm - 8:45pm</td><td>Evening Chores</td></tr>
    <tr><td>8:45pm - 10:00pm</td><td>Cook, Eat, Dishes</td></tr>
  </table>
  <br>
  <b>Weekday Schedule - v1 (January 2019 - April 2019)</b>
  <table>
    <tr>
      <th>Time</th>
      <th>Activity</th>
    </tr>
    <tr><td>4:00am - 4:15am</td><td>Getting Up, Morning Misc</td></tr>
    <tr><td>4:15am - 5:15am</td><td>Cook, Dishes, Eat</td></tr>
    <tr><td>5:15am - 5:30am</td><td>Pack</td></tr>
    <tr><td>5:30am - 5:45am</td><td>Meditation</td></tr>
    <tr><td>5:45am - 6:00am</td><td>Morning Misc</td></tr>
    <tr><td>6:00am - 8:15am</td><td>Workout</td></tr>
    <tr><td>8:15am - 8:45am</td><td>Shower, Dress</td></tr>
    <tr><td>8:45am - 9:00am</td><td>Transit</td></tr>
    <tr><td>9:00am - 5:00pm</td><td>Work</td></tr>
    <tr><td>5:00pm - 5:45pm</td><td>Transit</td></tr>
    <tr><td>5:45pm - 6:00pm</td><td>Chores</td></tr>
    <tr><td>6:00pm - 6:30pm</td><td>Shower</td></tr>
    <tr><td>6:30pm - 7:45pm</td><td>Programming</td></tr>
    <tr><td>7:45pm - 8:00pm</td><td>Meditation</td></tr>
  </table>
  <br>
</div>
