<nav class="navbar navbar-expand-lg navbar-light" style="background-color: lightblue">
  <a class="navbar-brand" href="#" style="color: black"><b>Home</b></a>
  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#/notes" style="color: black">Notes</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#/calendar" style="color: black">Calendar</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#/stockhistory" style="color: black">Stock History</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="assets\resume.pdf" style="color: black">Resume</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/Benjamin-Ju" style="color: black"><img src="assets\github.png" width="22px" height="22px"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.linkedin.com/in/benjaminju/" style="color: black"><img src="assets\linkedin.png" width="22px" height="22px"></a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
