<div class="container" style="padding-top: 15px;">
  <h4 class="mb-3 font-weight-light">
    <span class="inner-icon-block" padding=5px>
      Book Notes
    </span>
    <img src="assets\book.png" alt="Picture of a Book" width="20px" height="20px">
  </h4>
  <ngb-tabset>
    <ngb-tab title="Outliers">
      <ng-template ngbTabContent>
        <br>
        <p>Outliers by Malcolm Gladwell, Finished 6/10/2018</p>
        <ul>
          <li>By the Matthew Effect, the rich get richer and the poor stay poor</li>
          <ul>
            <li>People who start with a small advantage eventually snowballs into having a huge advantage</li>
            <li>People who are a bit behind don't get opportunities to help them catch up</li>
          </ul>
          <li>To be good at a certain thing (world professional level), you have to do it for 10 000 hours</li>
          <li><i>To become extremely proficient in a skill, you only have to be "good enough", after, it is just hard work*</i></li>
          <li>Circumstances can also lead you to success, the environment you are born in, the year/moth you were born in, family background, and culture</li>
          <li>"Knowledge of a boy's IQ is of little help if you are faced with a formful of clever boys" means specific IQ doesn't matter when they are all "smart enough"</li>
          <li>Intellect and achievement are far from perfectly correlated</li>
          <li><i>Practical intelligence</i> is knowing what to say to whom, knowing when to say it and knowing how to say it for maximum effect</li>
          <ul>
            <li>It is procedural: knowing how without knowing why and being able to explain it </li>
          </ul>
          <li>General intelligence and practical intelligence is orthogonal</li>
          <li><b>No one person makes it, mentors are important in life</b></li>
          <li>Three things make work satisfactory: autonomy, complexity, and a connection between effort and reward</li>
        </ul>
        <p>Sayings from Outliers</p>
        <ul>
          <li>No food without blood and sweat</li>
          <li>Farmers are busy; farmers are busy; if farmers weren't busy, where would grain to get through the winter come from?</li>
          <li>In winter, the lazy man freezes to death</li>
          <li>Don't depend on heaven for food, but on your own two hands carrying the load</li>
          <li>Useless to ask about the crops, it all depends on hard work and fertilizer</li>
          <li>If a man works hard, the land will not be lazy</li>
          <li><i>No one who can rise before dawn 360 days a year fails to make his family rich</i></li>
          <li>It's not always the things we can't control, but the things we can</li>
        </ul>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Rich Dad, Poor Dad">
      <ng-template ngbTabContent>
        <br>
        <p>Rich Dad, Poor Dad by Robert T. Kiyosaki with Sharon L. Lechter, Finished 6/23/2018</p>
        <ul>
          <li>The advice of "study hard and get good grades and you will find a high-paying job with great benefits" may have worked for people born before 1945, but it is disastrous for those of use born in a rapidly changing world</li>
          <li>Instead of telling children to play it safe, they need to be told to play it smart</li>
          <ul>
            <li>When a company announces a downsizing, families are hurt and unemployment goes up because people get laid off, but the price of the stock goes up</li>
            <li>Employees lose, but owners and investors win</li>
          </ul>
          <li>Life is the best teacher of all, life does not talk to you, it just sort of pushes you around</li>
          <ul>
            <li>If you learn life's lessons, you will do well and move on, even welcoming the pushing</li>
            <li>If not, you will continue to be pushed around, some quit while others fight</li>
          </ul>
          <li>It is easier to change yourself than everyone else</li>
          <ul><li>Most people want everyone else in the world to change, but themselves</li></ul>
          <li><i>The poor and the middle class work for money, the rich have money work for them</i></li>
          <li>The "Rat Race" is the pattern of getting up, going to work, paying bills and repeat</li>
          <ul><li>Give them more money and they just spend more</li></ul>
          <li>People are controlled by fear and greed, which is intensified by ignorance, so they react instead of think (emotion stands for energy in motion)</li>
          <ul><li>They keep working thinking money will solve their problems</li></ul>
          <li>The avoidance of money is just as psychotic as being attached to money</li>
          <li>If you want to get rich, you need to be financially literate</li>
          <ul><li>Accounting is very boring, but important for being rich in the long-term</li></ul>
          <li><i>Rule 1: know the difference between an asset and a liability</i></li>
          <ul><li>Acquire assets, not liabilities (assets put money in your pocket and liabilities take money from your pocket)</li></ul>
          <li>Money doesn't always solve the problem, it might even speed it up (intelligence solves problems)</li>
          <li>Professional success is no longer solely linked to academic success</li>
          <ul><li>People can work harder, but they don't get ahead</li></ul>
          <li>Financial aptitude is what to do with the money once you make it, how to keep people from taking it away from you, how long you keep it, and how hard that money works for you</li>
          <li>#1 expense for most people is taxes</li>
          <li>The reason public speaking are people's number one fear is the fear of standing out, criticism, ridicule, outcast, and being different </li>
          <li>The Japanese are aware of three powers: the sword, the jewel, and the mirror</li>
          <ul>
            <li>The sword symbolizes the power of weapons</li>
            <li>The jewel symbolizes the power of money</li>
            <li>The mirror symbolizes the power of self-knowledge and is the most treasured</li>
          </ul>
          <li>An intelligent person hires people smarter than they are</li>
          <li>When it comes to money, high emotions lower financial intelligence</li>
          <li>The middle class love to play it safe</li>
          <ul>
            <li>Mutual funds are popular because they are safe</li>
            <li>These people would not be able to capitalize on opportunities because of "risk"</li>
          </ul>
          <li><b>Wealth is a person's ability to survive so many number of days forward: "If I stopped working today, how long could I survive</b></li>
          <li><b>Mind your own business</b></li>
          <ul><li>It is important to keep track of your asset column or whatever makes you money</li></ul>
          <li>Keep you expenses low, reduce liabilities, and build a base of solid assets</li>
          <li>Assets fall under into the following:</li>
          <ul>
            <li>Businesses that don't require your presence</li>
            <li>Stocks</li>
            <li>Bonds</li>
            <li>Mutual funds</li>
            <li>Income generating real estate</li>
            <li>Notes (IOUs)</li>
            <li>Royalties from intellectual property such as music, scripts, patents</li>
          </ul>
          <li>When investing, once a dollar goes in, don't let it come out, think of it as an employee that works 24/7</li>
          <li>The reward at the end of the road for diligently taking the time to mind your own business are the luxuries</li>
          <li><b>Financial IQ is made up of knowledge from four broad areas of expertise</b></li>
          <ul>
            <li>Accounting/Financial Literacy - reading and understanding financial statements, strengths and weaknesses of any business</li>
            <li>Investing - science of money-making money</li>
            <li>Understanding Markets - science of supply and demand</li>
            <li>Law - tax advantage and protection from lawsuits from being aware of accounting, corporate, state, and national rules and regulations</li>
          </ul>
          <li><b>Skills are needed to be an investor who creates investments:</b></li>
          <ul>
            <li>How to find an opportunity that everyone has missed</li>
            <li>How to raise money (without a bank)</li>
            <li>How to organize smart people</li>
          </ul>
          <li><b>There is always risk, so learn to manage risk instead of avoiding it</b></li>
          <li>Talented people are always one skill away from great wealth</li>
          <ul><li>When it comes to money, the only skill most people know is to work hard</li></ul>
          <li><b>You want to learn a little about a lot (20 hours rule)</b></li>
          <li>The hardest part of running a company is managing people</li>
          <ul><li>If you are not a good leader, you'll get shot in the back</li></ul>
          <li>It is best to go broke before 30</li>
          <li>A job is just an acronym for 'Just Over Broke'</li>
          <li>If baby boomers discover they don't have enough money to live on when they're older, they can blow their brains out with the silver bullet</li>
          <li>"I'm not interested in going to the gym, but I go because I want to feel better and live longer"</li>
          <li>The most painful/hardest part is deciding to go/start</li>
          <li>The management skills needed for success</li>
          <ul>
            <li>The management of cash flow</li>
            <li>The management of systems (including yourself and time with family)</li>
            <li>The management of people</li>
          </ul>
          <li>The better you are at communicating, negotiating, and handling your fear of rejection, the easier life is</li>
          <li>The more you give, the more you receive (even if you don't have 'extra' money)</li>
          <li>5 reasons why people don't develop proper assets columns</li>
          <ul>
            <li>Fear - fear of losing money, think Texan: go big or go home, winning usually follows losing, everyone wants to go to heaven, but nobody wants to die, REMEMBER THE ALAMO!!!</li>
            <li>Cynicism - ignore the Chicken Little, the extra "noise", cynics criticise, winners analyze, criticism blinds while analysis opens eyes</li>
            <li>Laziness - there is laziness in staying busy, fix laziness with greed, ask "how can I afford it?"</li>
            <li>Bad Habits - our lives are a reflection of our habits</li>
            <li>Arrogance - arrogance is just ego + ignorance</li>
          </ul>
          <li>Texans don't bury their failures</li>
          <ul>
            <li>They turn them into rallying cries</li>
            <li>Failure inspires winners and defeats losers</li>
          </ul>
          <li>To make progress, you must go unbalanced, that's how walking works</li>
          <li>You must focus to be rich, put a lot of eggs in a few baskets</li>
          <li>When exiting the rat race, you must ask yourself "How can I afford to never work again?", "What's in it for me if I'm healthy, sexy, good-looking?", "What would my life be like if I never had to work again?", "What would I do if I had all the money I needed"</li>
          <li><b>Ten steps/helpful tips</b></li>
          <ul>
            <li>You need a reason greater than reality</li>
            <ul>
              <li>Get a list of emotional "wants" and "don't wants"</li>
              <li>If you do not have a strong reason, most things will seem like too much work</li>
            </ul>
            <li>I choose daily</li>
            <ul>
              <li>Bad thoughts rob you of time and learning</li>
              <li><b>Invest first in education</b></li>
            </ul>
            <li>Choose friends carefully</li>
            <ul>
              <li>Learn from all of them, even if it's what not to do</li>
              <li>When investing, there is always another wave</li>
              <li>If you miss a wave, search for the next one and get yourself back into position</li>
              <li>Wise investors buy an investment when it's not popular</li>
            </ul>
            <li>Master a formula and then learn a new one</li>
            <ul>
              <li>You become what you study</li>
              <li>What you know doesn't count anymore because it is probably old</li>
              <li>It is about how fast you learn</li>
            </ul>
            <li>Pay yourself first, invest in your assets/mind your business</li>
            <ul><li>Focus on management skills (see before)</li></ul>
            <li>Pay your brokers well</li>
            <ul><li>They are specialized and have great information</li></ul>
            <li>Be an "Indian Giver"</li>
            <ul><li>When investing, think about how fast you can get your initial investment back</li></ul>
            <li>Assets buy luxuries (don't buy on credit)</li>
            <li>The need for great heroes (mentors/role models) is essential</li>
            <li>Teach and you shall receive (give what you want first)</li>
          </ul>
          <li>Some more ideas</li>
          <ul>
            <li>Stop what you're doing</li>
            <ul><li>Take a break, step back and analyze</li></ul>
            <li>Look for new ideas and learn</li>
            <li>Take action</li>
            <li>Find someone who has done what you want to do</li>
            <li>Take classes and buy tapes</li>
            <li>Make lots of offers </li>
          </ul>
        </ul>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="The Wealthy Barber Returns">
        <ng-template ngbTabContent>
          <br>
          <p>The Wealthy Barber Returns by David Chilton, Finished 01/11/2019 </p>
          <ul>
            <li>Disposable Income = Consumption + Savings</li>
            <li>The reason it is so difficult to save is because nobody wants you to</li>
            <li>Some think they need things when they really don't</li>
            <li>"Some individuals have riches just as we say have a fever when really the fever has us" - Seneca</li>
            <li>Few things in life are more valuable than our self-esteem, yet we often willingly surrender it to the opinions of others, and we spend a king's ransom trying to get it back as we buy things to try to elevate status</li>
            <li>"I can resist everything except temptation" - Oscar Wilde</li>
            <li>We aren't wired to resist temptation, but we can take away the ability to give into temptation</li>
            <li>The price we are willing to pay is based on our assessment of how much value the item will bring to our lives, but it is much more difficult to assess over a certain period of time</li>
            <li>Having friends with more money makes us want to "get on their level"</li>
            <li>"Gratitude is riches. Complaint is poverty" - Doris Day</li>
            <li>"I can't afford it" is a very powerful statement when declining invitations</li>
            <li>As we spend money on something nice, we might want other things in our life to match it, spending begets spending</li>
            <li>"Good debt" is any money borrowed to buy an appreciating asset where the cost of servicing the loan doesn't affect your ability to save to the appropriate level and where the principal will be fully repaid before your retirement</li>
            <li><b>Live in a house you can truly afford</b></li>
            <li>Pay yourself first: save first, spend the rest </li>
            <li>Keeping a detailed summary of all your expenses over a period of several months is extremely effective</li>
            <ul>
              <li>The three areas that catch most people off guard are cars, dining out, and the little things</li>
              <li>These are the areas where people spent more than they thought</li>
            </ul>
            <li>If you buy things, make sure those things are splurge-worthy</li>
            <ul><li>This makes people efficient spenders</li></ul>
            <li>By cutting back on a few little things, especially habitual purchases, people can save a large amount of money</li>
            <li>"Beware of little expenses. A small leak will sink a great ship"</li>
            <li>"I spent a lot of money on booze, birds, and fast cars. The rest I just squandered" - George Best</li>
            <li>Prioritize, think before you spend and don't wear the costume of consumer debt to pretend you're wealthier than you are</li>
            <li>Figuring out how much money needs to be set aside for retirement is difficult for many factors that involve it</li>
            <ul><li>Age of retirement, death date, tax rates during retirement years, severity of inflation, health-care costs, government plans, rate of return, etc</li></ul>
            <li>"The best time to plant an oak tree was 10 years ago. The second best time is now" - Roy Miller </li>
            <li>"Most men do not understand how great a revenue is economy" - Cicero</li>
            <li>Spend more on experiences and less on stuff</li>
            <li>"The best things in life aren't things"</li>
            <li>"Real happiness is cheap enough, yet how dearly we pay for its counterfeit" - Hosea Ballou</li>
          </ul>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Un#@%! Yourself">
        <ng-template ngbTabContent>
          <br>
          <p>Un#@%! Yourself by Gary John Bishop, Finished 01/13/2019</p>
          <ul>
            <li>"One may appreciably control one's feelings by controlling one's thoughts" - Albert Ellis</li>
            <li>Better to think of struggles as 'To bear this worthily is good fortune'</li>
            <li>"Reject your sense of injury and the injury itself disappears" - Marcus Aurelius</li>
            <li>Answers are found within yourself and not found in external factors you cannot control</li>
            <li>No buts, no excuses</li>
            <li>"Circumstances don't make the man; they only reveal him to himself" - Epictetus</li>
            <li>"Life leads the willing and drags along the reluctant" - Seneca</li>
            <ul><li>Life goes on</li></ul>
            <li>We may view ourselves as procrastinators or lazy or something else, but we are simply unwilling</li>
            <li>"Where the willingness is great, the difficulties cannot be great"</li>
            <li>When we compare ourselves and our own misfortunes to others, we realize that our problems aren't so bad</li>
            <li>"The best thing you can do is the right thing, the next best thing is the wrong thing, the worst you can do is nothing" - Roosevelt</li>
            <li>"All I know, is that I know nothing"</li>
            <li>If you want to win, you have to be willing to be judged by others</li>
            <li>"You are not defined by what's instead your head. You are what you do"</li>
            <li>"Great thoughts speak only to the thoughtful mind, but great actions speak to all of mankind" - Roosevelt</li>
            <li>"Inaction breeds doubt and fear. Action breeds confidence and courage" - Carnegie</li>
            <li>"I expect nothing and accept everything"</li>
            <li>If it succeeds, celebrate. if it fails, you can recalibrate</li>
            <li>Don't expect victory or defeat, plan for victory, learn from defeat</li>
            <li>Future you is not going to regret a lack of achievement or the absence of any one thing in your life, the only thing you will regret is not trying</li>
            <li><b>The seven personal assertions</b></li>
            <ul>
              <li>I am willing</li>
              <ul><li>Either willing to make the change or unwilling to stay the same</li></ul>
              <li>I am wired to win</li>
              <ul><li>You accomplish what you say, do, etc, it may be success, but it also may be failure</li></ul>
              <li>I got this</li>
              <ul><li>You've went through tough times before and you can do it again</li></ul>
              <li>I embrace the uncertainty</li>
              <li>I am not my thoughts; I am what I do</li>
              <li>I am relentless</li>
              <ul><li>The best accomplishments are the ones that come from strife</li></ul>
              <li>I expect nothing and accept everything</li>
            </ul>
          </ul>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="12 Rules of Life">
        <ng-template ngbTabContent>
          <br>
          <p>12 Rules of Life by Jordan B. Peterson, Finished 3/30/2019</p>
          <b>Rule 1: Stand Up Straight With Your Shoulders Back</b>
          <ul>
            <li>It is a winner's take all situation in the lobster and human world, where 1% of people take 50% of the loot</li>
            <li>"To those who have everything, more will be given; from those who have nothing, everything will be taken" Matthew 25:29</li>
            <li>"It's not what we don't know that gets us in trouble. It's what we know for sure that just ain't so" - Mark Twain</li>
            <li>Like the representation of the ying and yang, chaos and order are eternally juxtaposed</li>
            <li>Change may be opportunity, instead of disaster</li>
            <li>You can delay gratification, without forgoing it forever</li>
            <li>Depression can be a positive feedback loop</li>
            <ul>
              <li>They feel useless and burdensome</li>
              <li>This makes them withdraw from contact with friends and family</li>
              <li>The withdrawl makes them feel lonesome and isolated and more likely to feel useless and burdensome</li>
              <li>They withdraw more, etc</li>
            </ul>
            <li>If you say no, early in the cycle of oppression, the scope for the oppression will remain properly bounded and limited</li>
            <li>No one likes to be pushed around, but people often put up with it for too long</li>
            <li>When people realize their own capacity for evil, their fear of themselves acting out decreases. They develop self-respect. They begin to resist oppression as they see that they have the ability to withstand as they are terrible too</li>
            <li><b>There is very little difference between the capacity for mayhem and destruction and strength of character</b></li>
            <li>If you slump, your brain assigns you a low dominance number. Your brain produces less serotonin. This will make you less happy and more likely to back down. You will get lower quality resources. You might abuse substances. It will increase your susceptibility to illness</li>
            <li><b>Those who start to have will probably get more</b></li>
            <li>If you start to straighten up, people will look at and treat you differently</li>
            <li>Standing up straight with your shoulders back is not something purely physical; it also affects your psyche</li>
            <ul>
              <li>You respond to a challenge instead of bracing for a catastrophe</li>
              <li>You see the gold the dragon hoards instead of fearing the dragon</li>
            </ul>
          </ul>
          <b>Rule 2: Treat Yourself Like Someone You Are Responsible For Helping</b>
          <ul>
            <li>People are better at filling and properly administering perscription medications to their pets than to themselves</li>
            <li>Chaos is the domain of ignorance; it's unexplored territory</li>
            <li>Order, by contrast, is explored territory</li>
            <li><i>To straddle a fundamental duality, that we eternally inhabit order surrounded by chaos, is to be balanced: to have one foot firmly planted in order and security, and the other in chaos, possibility, growth and adventure</i></li>
            <li>The worse of all possible snakes (Garden of Eden reference) is teh eternal human proclivity for evil; it is psychological, spiritual, personal, internal; no walls, however tall, will keep that out</li>
            <li><b>It is far better to render Beings in your care competent than to protect them (parenting)</b></li>
            <li>If we wish to take care of ourselves properly, we would have to respect ourselves, but we don't, because we are fallen creatures</li>
            <li>Carl Jung's "doing unto others as you would have them do unto you" or "loving your neighbours as yourself" has nothing to do with being nice, both are equations</li>
            <li>You do not belong simply to yourself; you can't tortue or mistreat yourself because you are inevitably connected with many others</li>
            <li><b>We all deserve some respect, and we must consider what would be truly good for us</b></li>
            <li>"Happy" is not synonymous with "good"</li>
            <li>"He whose life has a why can bear almost any how" - Friedrich Nietzsche</li>
          </ul>
          <b>Rule 3: Make Friends With People Who Want The Best For You</b>
          <ul>
            <li>People choose friends who aren't good for them for a reason</li>
            <ul>
              <li>Sometimes it's because they want to rescue someone</li>
              <ul>
                <li>Not everyone at the bottom wishes to rise</li>
                <li>It is not easy to distinguish between someone truly wanting and needing help and someone who is exploiting and willing helper</li>
              </ul>
              <li>How do you know that your attempts to pull someone up won't instead bring them, or you, further down</li>
            </ul>
            <li>It's easier to put off until tomorrow what needs to be done today and drown the upcoming months and years in today's cheap pleasures</li>
            <li><b>"It is impossible to convince someone to change for the better" - Carl Rogers</b></li>
            <li>Self sacrifice might just be a person trying to look good, pretending to solve what appreas to be a difficult problem instead of actually being good and addressing something real</li>
            <li><b>It is not easy to surround yourself with good, healthy people"</b></li>
            <ul>
              <li>It requires strength and daring to stand by their side</li>
              <li>It takes humility, courage, and judgment</li>
            </ul>
          </ul>
          <b>Rule 4: Compare Yourself To Who You Were Yesterday, Not To Who Someone Else Is Today</b>
          <ul>
            <li>No matter how good you are at something, or how you rank your accomplishments, there is someone out there who makes you look incompetent</li>
            <li>The winners don't take all, but they take most</li>
            <li><b>Growing is an important form of winning</b></li>
            <li>Be cautious when comparing yourself; you have your own particular set of problems - financial, intimate, psychological, or otherwise</li>
            <li>Working towards a goal, we are always at point A, moving towards point B</li>
            <li>To focus, we must pick one thing above all else to focus on</li>
            <li>You need to know what the problems are because you can't fix something if you don't know it's broken - and you're broken</li>
            <li>The past is fixed, but the future could be better</li>
            <li><b>Happiness should be focused in the journey uphill, and not in the fleeting sense of satisfaction awaiting at the next peak</b></li>
            <li>There is an inside voice within you, once burnt and twice shy</li>
            <li><b>What you aim at determines what you see</b></li>
            <ul>
              <li>Perhaps what you really need is right in front of your eyes, but you cannot see it because of what you are currently aiming for</li>
              <li>You cannot aim yourself at anything if you are completely undisciplined and untutored</li>
            </ul>
            <li>Search until you find something that bothers you, that you could fix, that you would fix; that might be enough for the day</li>
            <li>Attend to the day, but aim at the highest good</li>
            <li>Realization is dawning. Instead of playing the tyrant pay attention. Tell the truth instead of manipulating the world. Instead of playing the tyrant or martyr, negotiate. You don't have to be envious because you no longer know that someone truly has it better than you. **You don't have to be frustrated if you learn to aim low and be patient** You are discovering who you are, what you want, and what you are willing to do. You are finding specific solutions to your specific problems. You are less concerned at what others do, because you yourself have plenty to do</li>
          </ul>
          <b>Rule 5 - Do Not Let Your Children Do Anything That Makes You Dislike Them</b>
          <ul>
            <li><b>Too much chaos breed too much order and vice versa</b></li>
            <li>"A man who has the indisputable favourite of his mother keeps for life the feeling of a conqueror, that confidence of success often induces real success" - Sigmund Frued</li>
            <li>It is an act of responsibility (of a parent) to discipline a child</li>
            <li>It is careful combination of mercy and long-term judgment</li>
            <li>Many adults think that any suggestion that all constraints placed on children are damaging</li>
            <ul><li>This is lazy, cruel, and inexcusable</li></ul>
            <li>It's peace that's the mystery, violence is the default</li>
            <li>Don't cast pearls before swine, don't reward your kids for misbehaving</li>
            <li>Pain is more potent than pleasure, anxiety more than hope</li>
            <ul>
              <li>Pain helps us learn</li>
              <li>We need to learn because we are stupid and easily damaged</li>
            </ul>
            <li>Children cannot be fully sheltered from fear and pain</li>
            <li>Example: child misbehaves and parents do nothing. Parents later snap at child for something completely unrelated. Child will be hurt, confused, but learn nothing</li>
            <li>Parents can discipline their kids or they give that responsibility to the harsh, uncaring, judgmental world</li>
            <li>Parents must reward those attitudes and actions that will bring their child success in the world outside the family, and use threat and punishment when necessary to eliminate behaviours that will lead to misery and failure</li>
            <li>If you're not thinking things through, then you're not acting responsibly as a parent. You're leaving the dirty work to someone else, who will be much dirtier doing it</li>
            <li><i>Four general principles of discipline</i></li>
            <ul>
              <li>Limit the rules</li>
              <li>Use the minimum necessary force</li>
              <li>Parents should come in pairs</li>
              <li>Parents should understand their own capacity to be harsh, vengeful, arrogant, resentful, angry, and deceitful</li>
            </ul>
            <li>Resentment breeds the desire for vengeance, from parent to kid</li>
            <li>Parents have a duty to act as proxies for the real world</li>
            <li></li>
          </ul>
          <b>Rule 6 - Set Your House In Perfect Order Before You Criticize The World</b>
          <ul>
            <li>People can merge from terrible pasts to do good and not evil</li>
            <li>People who experience evil may desire to perpetuate it, to pay it forward, but it is possible to learn good by experiencing evil</li>
            <li>Start by stop doing what you know is wrong, and stop today</li>
            <li>Every person is too complex to know themselves completely and we all contain wisdom that we cannot comprehend</li>
            <li>Say only things that make you strong, do only things that you could speak of with honour</li>
            <li>The wisdom of the past was hard-earned, be sure to use it</li>
            <li><i>Don't blame capitalism, the radical left, or the iniquity of your enemies. Don't reorganize the state until you have ordered your own experience. Have some humility. If you cannot bring peace to your household, how dare you try to rule a whole city? Let your own soul guide you"</i></li>
          </ul>
          <b>Rule 7 - Pursue What Is Meaningful (Not What Is Expedient)</b>
          <ul>
            <li>life is sufferring, for dust you are and to dust you will return (Genesis)</li>
            <li>The simplest, most obvious, and most direct answer to nullify suffering? Pursue pleasure, follow your impulse, live for the moment, do what's expedient, lie, cheat, steal, deceive, manipulate, but don't get caught</li>
            <li>The fact of life's tragedy and suffering has been used to justify the pursuit of immediate selfish gratification for a very long time</li>
            <li>The pleasure of expediency may be fleeting, but it's pleasure, nonetheless, and that's something to stack up against the terrors and pain of existence</li>
            <li>Sacrifice is considering that something better might be attained in the future by giving up something of value in the present</li>
            <ul>
              <li>Your demise might be staved off through work; through the sacrifice of the now to gain benefit later</li>
              <li>There is little difference between sacrifice and work</li>
            </ul>
            <li>Asking someone for something was the most useful and immediate invitation to social interaction</li>
            <li><b>The successful among us delay gratification, the successful among us bargain with the future</b></li>
            <li>The difference between the successful and unsuccessful: the successful sacrifice</li>
            <li>When catching a monkey, have a narrow-necked jar full of treats. With a fist full of treats, the monkey cannot retract its hand. It refuses to sacrifice the part to preserve the whole</li>
            <li>Something valuable, given up, ensures future prosperity</li>
            <li><i>People have an internal spirit, voice, or daemon</i></li>
            <ul><li>Distinguishing oneself from other men, one must have a complete willingness to listen to its warnings - to stop speaking and cease acting when it objected</li></ul>
            <li>Once you become consciously aware that you, yourself, are vulnerable, you understand the nature of human vulnerability, in general</li>
            <li><b>Once you truly understood such feelings in yourself and how they're produced, you understand how to produce them in others</b></li>
            <li>Evil enters the world with self-consciousness</li>
            <li>"No tree can grow to Heaven unless its roots reach down to Hell" - Carl Gustav Jung</li>
            <li>To problems that get solved, after the solution was implemented, even the fact that such problems had ever existed disappears from view</li>
            <li><b>"We cannot invent our own values, because we cannot merely impose what we believe on our souls" - Carl Jung</b></li>
            <li>Aim up, pay attention, fix what you can fix, don't be arrogant in your knowledge, strive for humulity</li>
            <li>Become aware of your own insufficiency, consider the murderousness of your own spirit before you dare accuse others</li>
            <li>Expedience is the following of blind impulse, meaning is its mature replacement</li>
            <li>Meaning trumps expedience, meaning gratifies all impulses</li>
            <li>Expedience - that's hiding all the skeletons in the closet. That's covering all the blood you spilled on the carpet. That's avoiding responsibility. It's cowardly and shallow and wrong. It's wrong because mere expedience, multiplied by many repetitions, produces the character of a demon. It's wrong because expedience merely transfers the curve on your head to someone else, or to your future self, in a manner that will make your future, and the future generally, worse, instead of better. </li>
            <li>There is no faith and no courage and no sacrifice in doing what is expedient</li>
            <li></li>
            <li></li>
          </ul>
          <b>Rule 8 - Tell The Truth, Or At Least Don't Lie</b>
          <ul>
            <li>Untruth, however well-meant, can produce unintended consequences</li>
            <li>Example with Peterson and a patient. A patient earnestly tells him about his paranoia despite the lack of encouraging responses and consistent objections. He trusted Peterson because Peterson was scared, the normal reaction, no faking. There will be no understanding of the patient without that trust. </li>
            <li>A sin of commission occurs when you do something you know to be wrong. A sin of omission occurs when you let something bad happen when you could do something to stop it</li>
            <li><b>If you betray yourself, if you say untrue things, if you act out a lie, you weaken your character</b></li>
            <li><b>What saves is the willingness to learn from what you don't know</b></li>
            <li>Milton believes that subborn refusal to change in the face of error, not only meant ejection from heaven and subsequent degeneration into an ever-deepening hell, but the rejection of redemption itself</li>
            <li>You must make friends, with what you don't know, instead of what you know</li>
            <li>The attentive son can restore the vision of his father, the present can restore the past</li>
            <li>It is our responsibility to see what is before our eyes even if the horror of seeing it damages our consciousness and half-blinds us</li>
            <li>"A man's worth is determined by how much he can tolerate" - Nietzsche</li>
            <li>Set your ambitions. The better ambitions have to do with the development of character and ability, rather than status and power. Status you can lose. <b>You carry character wherever you go and it allows you to prevail against adversity</b></li>
            <ul><li>All people serve their ambition. In that matter, there are no atheists. There are only people who know and don't know what God they serve</li></ul>
            <li>Why not lie? Because things fall apart. What worked yesterday will not necessarily work today</li>
          </ul>
          <b>Rule 9 - Assume The Person You Are Listening To Might Know Something You Don't</b>
          <ul>
            <li>Psychotherapy is genuine conversation</li>
            <li>It's amazing what people will tell you if you listen</li>
            <li>The present can change what you think of or remember of the past, the future affects the present in the same way</li>
            <li>People think they think, but it's not true. It's mostly selfcriticism that passes for thinking</li>
            <li><b>Thinking is listening to yourself</b></li>
            <li>If you aren't good at thinking, you talk</li>
            <ul><li>A listening person is your collaborator and your opponent</li></ul>
            <li>You can be pretty smart to others if you can just shut up</li>
            <li><b>Listening can change people</b></li>
            <ul>
              <li>Some don't like to listen because they don't like change and reject it</li>
              <li>That's why listening requires courage</li>
            </ul>
            <li>You remember the past so that you are prepared for the future</li>
            <li>Talking (and thinking) is often more about forgetting than about remembering</li>
            <li><b>If you listen, without premature judgment, people will generally tell you everything they are thinking with very little deceit</b></li>
          </ul>
          <b>Rule 10 - Be Precise In Your Speech</b>
          <ul>
            <li>Don't ever underestimate the destructive power of sins of omission</li>
            <li>Thinking to not speak and 'putting up with it' doesn't solve the problem, it just starts to build up inside</li>
            <li>Everything clarified and articulated becomes visible</li>
            <li>Every single voluntarily unprocessed and uncomprehended and ignored reasons for marital failure will compound and conspire</li>
            <li>Specifying the problem would enable its solution because doing so admits it exists</li>
            <li>Everything doesn't fall apart at once; specific things fall apart; identificable beliefs failed; particular actions were false and inauthentic</li>
            <li><i>When things fall apart and chaos re-emerges, we can give structure to it, and re-establish order through our speech. If we speak carefully and precisely, we can sort things out and put them in their proper place, and set a new goal, and navigate to it if we negotiate and reach consensus. If we speak carelessly and imprecisely, things remain vague. The destinatino remains unproclaimed. The fog of uncertainty does not lift and there is no negotiating through the world.</i></li>
            <li>Damaged machinery will continue to malfunction if its problems are neither diagnosed nor fixed</li>
            <li>Precision specifies</li>
            <li>No one can have a discussion about everything, <b>talk about the small things</b></li>
            <li>You must determine where you are going in your life because you cannot get there unless you move in that direction</li>
            <li>Say what you mean so you can figure out what you mean. Act out what you say and see what happens, then pay attention. Note your errors. Articulate them. Strive to correct them. This is how you discover the meaning of your life. </li>
          </ul>
          <b>Rule 11 - Do Not Bother Children When They Are Skateboarding</b>
          <ul>
            <li><b>Competence is the trait that makes people as safe as they can truly be</b></li>
            <li>People don't seek to minimize risk, they seek to optimize it</li>
            <li>Overprotected, we will fail when something dangerous, unexpected and full of oppotunity suddenly makes its apperance</li>
            <li>If you cannot understand why someone did something, lok at the consequences and infer the motivation</li>
            <li>Marriage is now something increasingly reserved for the rich</li>
            <li>Culture is an oppressive structure; it has always been that way</li>
            <li>Any hierarchy creates winners and losers</li>
            <li>The fact that power plays a role in human motivation does not mean it plays the only role, or even the primary role</li>
            <li>In societies that are well-functioning, competence is a price determiner of status</li>
            <li>The most valid personality trait predictors of long-term success in Western countries are intelligence an conscientiousness</li>
            <li>If only power exists, the the use of power becomes fully justifiable</li>
            <li>Group identity can be fractioned right down to the level of the individual</li>
            <li>Culture can produce a 15 point difference in IQ at the cost of 3 standard deviation increase in wealth</li>
            <li>The opposite of a criminal is an Oedipal mother, its own kind of criminal</li>
            <ul><li>The deal is "above all, never leave me. I'll do everything for you. As you age without maturing, you will become worthless and bitter, but you will never have to take responsibility and everything you do that's wrong will always be someone else's fault"</li></ul>
            <li>Too much protection devastates the developing soul</li>
            <li>"If it was too good at home, you would never leave"</li>
            <li>The pleasures of self-pity should not be underestimated</li>
            <li>"Skateboarders" do dangerous things, trying to make themselves useful</li>
            <li>Women desire someone who brings to the table something they can't already provide; this makes it hard for tough, smart, attractive women</li>
          </ul>
          <b>Rule 12 - Pet A Cat When You Encounter One On The Street</b>
          <ul>
            <li>Thoughts that what can be truly loved about a person is inseperable from their limitations</li>
            <li>If you are already everything, everywhere, always, there is nowhere to go and nothing to be</li>
            <li>Being of any reasonable sort appears to require limitation</li>
            <ul><li>To become is to become something more, or at least something different; that is only possible for something limited</li></ul>
            <li>Hating life, despising life merely serves to make life worse</li>
            <li>Noticing supersedes thinking</li>
            <li>Set aside some time to talk and to think about the illness or other crisis and how it should be managed every dya. Do not talk or think about it otherwise.</li>
          </ul>
        </ng-template>
      </ngb-tab>
  </ngb-tabset>
</div>
<br>
<br>
<br>
<div class="container">
  Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
</div>