<br><br>
<div class="container">
  <table style="width:100%">
    <tr><th>Date (DD/MM/YYYY)</th><th>Ticker Symbol</th><th>Buy/Sell</th><th>Quantity</th><th>Price</th><th>Profit/Loss</th></tr>
    <tr><td>11/08/2018</td><td>HTL</td><td>B</td><td>555</td><td>0.91</td><td>-</td></tr>
    <tr><td>13/07/2018</td><td>ECI</td><td>B</td><td>54</td><td>18.77</td><td>-</td></tr>
    <tr><td>18/07/2018</td><td>MFI</td><td>B</td><td>27</td><td>34.54</td><td>-</td></tr>
    <tr><td>24/07/2018</td><td>MFI</td><td>B</td><td>30</td><td>32.90</td><td>-</td></tr>
    <tr><td>31/07/2018</td><td>MFI</td><td>S</td><td>57</td><td>30.87</td><td>-179.99CAD</td></tr>
    <tr><td>01/08/2018</td><td>ECI</td><td>S</td><td>54</td><td>28.86</td><td>+524.86CAD</td></tr>
    <tr><td>08/08/2018</td><td>WEED</td><td>B</td><td>28</td><td>35.55</td><td>-</td></tr>
    <tr><td>08/08/2018</td><td>ACB</td><td>B</td><td>157</td><td>6.36</td><td>-</td></tr>
    <tr><td>09/08/2018</td><td>TSGI</td><td>B</td><td>31</td><td>41.76</td><td>-</td></tr>
    <tr><td>13/08/2018</td><td>TSGI</td><td>S</td><td>31</td><td>36.90</td><td>-170.66CAD</td></tr>
    <tr><td>13/08/2018</td><td>MFI</td><td>B</td><td>36</td><td>30.66</td><td>-</td></tr>
    <tr><td>14/08/2018</td><td>TSGI</td><td>B</td><td>39</td><td>38.26</td><td>-</td></tr>
    <tr><td>16/08/2018</td><td>HTL</td><td>S</td><td>555</td><td>1.08</td><td>+79.90CAD</td></tr>
    <tr><td>20/08/2018</td><td>ACB</td><td>B</td><td>84</td><td>7.10</td><td>-</td></tr>
    <tr><td>27/08/2018</td><td>MFI</td><td>S</td><td>36</td><td>31.49</td><td>+9.88CAD</td></tr>
    <tr><td>27/08/2018</td><td>WEED</td><td>S</td><td>28</td><td>61.74</td><td>+713.32CAD</td></tr>
    <tr><td>28/08/2018</td><td>ACB</td><td>S</td><td>241</td><td>8.45</td><td>+421.53CAD</td></tr>
    <tr><td>10/09/2018</td><td>ACB</td><td>B</td><td>150</td><td>8.24</td><td>-</td></tr>
    <tr><td>11/09/2018</td><td>ACB</td><td>S</td><td>150</td><td>8.98</td><td>+91.00CAD</td></tr>
    <tr><td>02/08/2019</td><td>AMZN</td><td>B</td><td>1</td><td>1 575.79</td><td>-</td></tr>
    <tr><td>02/08/2019</td><td>BABA</td><td>B</td><td>6</td><td>164.60</td><td>-</td></tr>
    <tr><td>02/14/2019</td><td>WEED</td><td>B</td><td>24</td><td>59.81</td><td>-</td></tr>
    <tr><td>02/14/2019</td><td>WEED</td><td>S</td><td>24</td><td>61.27</td><td>+15.04CAD</td></tr>
    <tr><td>02/14/2019</td><td>ACB</td><td>B</td><td>159</td><td>9.37</td><td>-</td></tr>
    <tr><td>02/15/2019</td><td>ACB</td><td>S</td><td>159</td><td>9.36</td><td>-21.59CAD</td></tr>
    <tr><td>02/15/2019</td><td>ACB</td><td>B</td><td>300</td><td>9.37</td><td>-</td></tr>
    <tr><td>02/25/2019</td><td>BABA</td><td>S</td><td>6</td><td>182.86</td><td>+99.56USD</td></tr>
    <tr><td>02/25/2019</td><td>ACB</td><td>S</td><td>300</td><td>9.4567</td><td>+6.01CAD</td></tr>
    <tr><td>03/06/2019</td><td>TGOD</td><td>B</td><td>500</td><td>4.52</td><td>-</td></tr>
    <tr><td>03/07/2019</td><td>BABA</td><td>B</td><td>6</td><td>180.79</td><td>-</td></tr>
    <tr><td>03/20/2019</td><td>TGOD</td><td>B</td><td>90</td><td>5.14</td><td>-</td></tr>
    <tr><td>03/20/2019</td><td>TSGI</td><td>B</td><td>20</td><td>22.39</td><td>-</td></tr>
    <tr><td>03/20/2019</td><td>TSGI</td><td>S</td><td>20</td><td>22.6628</td><td>+5.46CAD</td></tr>
    <tr><td>03/22/2019</td><td>TGOD</td><td>S</td><td>590</td><td>4.85</td><td>+118.9CAD</td></tr>
    <tr><td>03/22/2019</td><td>AMZN</td><td>S</td><td>1</td><td>1 778.82</td><td>+193.03USD</td></tr>
    <tr><td>03/22/2019</td><td>TSGI</td><td>B</td><td>20</td><td>23.9792</td><td>-</td></tr>
    <tr><td>03/22/2019</td><td>TSGI</td><td>S</td><td>20</td><td>23.5153</td><td>-9.27CAD</td></tr>
    <tr><td>03/22/2019</td><td>BABA</td><td>S</td><td>6</td><td>176.79</td><td>-34.00USD</td></tr>
    <tr><td>04/29/2019</td><td>TSGI</td><td>B</td><td>18</td><td>25.36</td><td>-</td></tr>
    <tr><td>04/29/2019</td><td>TSLA</td><td>B</td><td>6</td><td>241.59</td><td>-</td></tr>
    <tr><td>05/09/2019</td><td>TSGI</td><td>S</td><td>18</td><td>27.0907</td><td>+31.15CAD</td></tr>
    <tr><td>05/07/2019</td><td>ACB</td><td>B</td><td>170</td><td>11.69</td><td>-</td></tr>
    <tr><td>05/07/2019</td><td>TGOD</td><td>B</td><td>465</td><td>4.30</td><td>-</td></tr>
    <tr><td>05/09/2019</td><td>TGOD</td><td>B</td><td>500</td><td>4.14</td><td>-</td></tr>
    <tr><td>05/13/2019</td><td>BABA</td><td>B</td><td>9</td><td>171.90</td><td>-</td></tr>
    <tr><td>05/16/2019</td><td>ACB</td><td>B</td><td>40</td><td>11.52</td><td>-</td></tr>
    <tr><td>05/16/2019</td><td>ACB</td><td>S</td><td>40</td><td>11.7302</td><td>+8.41CAD</td></tr>
    <tr><td>05/17/2019</td><td>TSGI</td><td>B</td><td>20</td><td>24.3171</td><td>-</td></tr>
    <tr><td>05/17/2019</td><td>TSGI</td><td>S</td><td>20</td><td>24.0845</td><td>-4.65CAD</td></tr>
    <tr><td>05/17/2019</td><td>TSLA</td><td>S</td><td>6</td><td>219.61</td><td>-131.88USD</td></tr>
    <tr><td>05/17/2019</td><td>ACB</td><td>S</td><td>170</td><td>12.05</td><td>+41.20CAD</td></tr>
    <tr><td>05/22/2019</td><td>TGOD</td><td>S</td><td>500</td><td>4.22</td><td>+20.00CAD</td></tr>
    <tr><td>05/23/2019</td><td>BABA</td><td>B</td><td>8</td><td>155.04</td><td>/td></tr>
    <tr><td>05/23/2019</td><td>ACB</td><td>B</td><td>200</td><td>11.09</td><td>-</td></tr>
    <tr><td>05/23/2019</td><td>ACB</td><td>B</td><td>43</td><td>11.18</td><td>-</td></tr>
    <tr><td>05/23/2019</td><td>ACB</td><td>S</td><td>43</td><td>11.13</td><td>-2.15CAD</td></tr>
    <tr><td>05/23/2019</td><td>ACB</td><td>B</td><td>13</td><td>11.12</td><td>-</td></tr>
    <tr><td>05/24/2019</td><td>ACB</td><td>S</td><td>13</td><td>11.24</td><td>+1.56CAD</td></tr>
    <tr><td>05/24/2019</td><td>SHOP</td><td>B</td><td>1</td><td>365.34</td><td>-</td></tr>
    <tr><td>05/24/2019</td><td>SHOP</td><td>S</td><td>1</td><td>369.00</td><td>+3.66CAD</td></tr>
    <tr><td>05/24/2019</td><td>ACB</td><td>S</td><td>200</td><td>11.28</td><td>+20.00CAD</td></tr>
    <tr><td>05/24/2019</td><td>TSGI</td><td>B</td><td>22</td><td>22.79</td><td>-</td></tr>
    <tr><td>05/24/2019</td><td>TSGI</td><td>S</td><td>22</td><td>22.56</td><td>-5.06CAD loss</td></tr>
    <tr><td>05/29/2019</td><td>TGOD</td><td>B</td><td>500</td><td>3.88</td><td>-</td></tr>
    <tr><td>05/29/2019</td><td>ACB</td><td>B</td><td>45</td><td>10.98</td><td>-</td></tr>
    <tr><td>05/30/2019</td><td>BABA</td><td>S</td><td>17</td><td>150.47</td><td>-234.24USD loss</td></tr>
    <tr><td>05/30/2019</td><td>ACB</td><td>S</td><td>45</td><td>10.82</td><td>-7.20CAD loss</td></tr>
    <tr><td>05/30/2019</td><td>TGOD</td><td>S</td><td>965</td><td>3.75</td><td>-330.75CAD</td></tr>
    <tr><td>06/05/2019</td><td>ACB</td><td>B</td><td>45</td><td>10.33</td><td>-</td></tr>
    <tr><td>06/10/2019</td><td>ACB</td><td>S</td><td>45</td><td>10.36</td><td>+1.35CAD profit</td></tr>
    <tr><td>06/10/2019</td><td>TSGI</td><td>B</td><td>22</td><td>22.45</td><td>-</td></tr>
    <tr><td>06/10/2019</td><td>TSGI</td><td>S</td><td>22</td><td>22.38</td><td>-1.54CAD loss</td></tr>
    <tr><td>06/12/2019</td><td>PLAY</td><td>B</td><td>50</td><td>40.79</td><td>-</td></tr>
    <tr><td>06/13/2019</td><td>PLAY</td><td>S</td><td>50</td><td>40.32</td><td>-23.50USD loss</td></tr>
    <tr><td>06/20/2019</td><td>ACB</td><td>B</td><td>200</td><td>10.025</td><td>Currently at a 60CAD loss</td></tr>
    <tr><td>06/20/2019</td><td>TGOD</td><td>B</td><td>500</td><td>3.308</td><td>Current break even</td></tr>

  </table>
</div>

