<app-personal></app-personal>
<br>
<div class="container">
  <h2>Welcome!</h2>
  <br>
  This is the more personal side of my website, showcasing the book and codes notes I've created, a calendar consisting of my activity log for previous days, stock history of my trades, and my schedules.
  <br><br>
  The notes consists coding notes and book notes. I've created my coding notes when learning new languages or frameworks, either through co-op or learning on my own. However, I am most proud of my book notes. Being a voracious book reader and audiobook listening, I've highlighted various parts of books I've read which I find either helpful or relevant to me, wrote them down manually by hand in a notepad and typed them up for anyone to view.
  <br><br>
  The calendar consists of a log of my activities. After realizing how much time I'm wasting without being the least bit aware during my 2A school term, I decided to start creating a log of all my activities. In addition, I'm a big fan of regulating my personal finances so I've also included whatever expenses I've encurred during the day. 
  <br><br>
  The stock history consists of all my trades I've done since starting investing in the summer of 2018. It consists of the stocks I buy, quantity, price, and the profit or loss I made after each sell. I am by no means a good investor, much less someone to follow. 
  <br><br>
  The schedules consist of the schedules I've followed since January 2019. I developed my schedules to give myself a more clear path of what to do, when, after failing to keep up good habits in Fall 2018.
  <br><br>
  This website is by no means done. I'm looking forward on working towards more and different sections. Some things I have in mind is a personal blog and a section for side projects. I might add more styling, but I honestly prefer to keep things simple.
  <br><br>
  If you've made it this far, I would like to thank you for reading. I was thinking about wording my introduction much more professionally, but decided against it. This is my way of talking and introducing myself on my website and I stand by it :)
</div>