<br>
<div class="container">
  <h2>Welcome!</h2>
  <br>
  My name is Benjamin Ju
  <br><br>
  I'm a second year Computer Science and Financial Management (basically cs + finance) student at the University of Waterloo
  <br><br>
  I'm currently taking a year off school, working as an Investment Developer at Equitable Life of Canada in Waterloo
  <br><br>
  This website currently consists of whatever I decided to put on it. Some current content are various notes I've created and a calendar containing my log of my activities since the end of March. 
  <br><br>
  The notes consists coding notes and book notes. I've created my coding notes when learning new languages or frameworks, either through co-op or learning on my own. However, I am most proud of my book notes. Being a voracious book reader and audiobook listening, I've highlighted various parts of books I've read which I find either helpful or relevant to me, wrote them down manually by hand in a notepad and typed them up for anyone to view.
  <br><br>
  The calendar consists of a log of my activities. After realizing how much time I'm wasting without being the least bit aware during my 2A school term, I decided to start creating a log of all my activities. In addition, I'm a big fan of regulating my personal finances so I've also included whatever expenses I've encurred during the day. 
  <br><br>
  This website is by no means done. I'm looking forward on working towards more and different sections. Some things I have in mind is a personal blog, a section for side projects, and a log of my personal investments in equity stocks. I might add more styling, but I honestly prefer to keep things simple.
  <br><br>
  If you've made it this far, I would like to thank you for reading. I was thinking about wording my introduction much more professionally, but decided against it. This is my way of talking and introducing myself on my website and I stand by it :)
</div>