<br><br>
<div class="jumbotron jumbotron-fluid">
  <div class="container" style="text-align: center">
    <h2>"Goals are for losers" -Scott Adams</h2>
    <h4>(from his book "How to Fail at Almost Everything and Still Win Big")</h4>
  </div>
  <br>
  <div class="container lead">
    Hi, my name is Ben and I am a systems-oriented software developer. Currently taking a year off school, I am a computer science and finance student, a voracious reader and learner, health and fitness fanatic, and a computer programmer (particularly interested in financial technlogy). 
    <br><br>
    I invite you to take a look at my personal porfolio below
  </div>
  <br><br>
  <div class="container" style="text-align: center">
    <div class="icon-bar">
      <a href="https://github.com/Benjamin-Ju" style="padding-right: 25px; padding-bottom: 25px; padding-left: 25px; padding-top: 25px"><img src="assets\github.png" width="100px" height="100px" ></a> 
      <a href="https://www.linkedin.com/in/benjaminju/" style="padding-right: 25px; padding-bottom: 25px; padding-left: 25px; padding-top: 25px"><img src="assets\linkedin.png" width="100px" height="100px" ></a>
      <a href="assets\resume.pdf" style="padding-right: 25px; padding-bottom: 25px; padding-left: 25px; padding-top: 25px"><img src="assets\resume.png" width="100px" height="100px" ></a>
    </div>
  </div>
  <br><br>
  <div class="container lead">
    Want to contact me? Send me an email at b2ju@uwaterloo.ca
  </div>
</div>

<br><br><br><br>

<div class="jumbotron jumbotron-fluid wow fadeInLeft">
  <div class="container">
    <h3>Experience</h3>
    <hr> 
    <br>
    <div>
      <h5>Investment Developer @ Equitable Life of Canada</h5>
      <b>Waterloo, Ontario</b> <br>
      <i>January 2019 - Present</i>
      <div>
        <button type="button" class="btn btn-outline-secondary mr-2" style="color: white; background-color: black">Python</button>
        <button type="button" class="btn btn-outline-secondary mr-2" style="color: white; background-color: green">Web Flask</button>
        <button type="button" class="btn btn-outline-secondary mr-2" style="color: white; background-color: green">PostGresSQL</button>
        <button type="button" class="btn btn-outline-secondary mr-2" style="color: white; background-color: green">Bloomberg Machine</button>
        <button type="button" class="btn btn-outline-secondary mr-2" style="color: white; background-color: red">Pycharm</button>
        <button type="button" class="btn btn-outline-secondary mr-2" style="color: white; background-color: purple">Financial Technology</button>
        <button type="button" class="btn btn-outline-secondary mr-2" style="color: white; background-color: purple">Automation</button>
        <button type="button" class="btn btn-outline-secondary mr-2" style="color: white; background-color: purple">Excel</button>
      </div>
    </div>
    <br>
    <div>
      <h5>Blockchain Developer @ NxM Labs</h5>
      <b>Toronto, Ontario</b> <br>
      <i>May 2018 - August 2018</i>
      <div>
        <button type="button" class="btn btn-outline-secondary mr-2" style="color: white; background-color: black">AngularJS</button>
        <button type="button" class="btn btn-outline-secondary mr-2" style="color: white; background-color: black">Solidity</button>
        <button type="button" class="btn btn-outline-secondary mr-2" style="color: white; background-color: green">SwaggerAPI</button>
        <button type="button" class="btn btn-outline-secondary mr-2" style="color: white; background-color: green">Docker</button>
        <button type="button" class="btn btn-outline-secondary mr-2" style="color: white; background-color: green">Kubernetes</button>
        <button type="button" class="btn btn-outline-secondary mr-2" style="color: white; background-color: green">PostGresSQL</button>
        <button type="button" class="btn btn-outline-secondary mr-2" style="color: white; background-color: purple">Blockchain</button>
        <button type="button" class="btn btn-outline-secondary mr-2" style="color: white; background-color: purple">IoT</button>
      </div>
    </div>
  </div>
</div>

<br><br><br><br>

<div class="jumbotron jumbotron-fluid wow fadeInLeft">
  <div class="container">
    <h3>Projects</h3>
    <hr>
    <br>
    <div>
      <h5>GoJournal (In Development)</h5>
      <a class="btn btn-outline-primary mb-2 mr-2" href="https://github.com/Benjamin-Ju/goJournal">Code</a><br>
      <i>May 2019 - Present</i>
      <div>
        <button type="button" class="btn btn-outline-secondary mr-2" style="color: white; background-color: black">GoLang</button>
        <button type="button" class="btn btn-outline-secondary mr-2" style="color: white; background-color: red">GoLand</button>
    </div>
    <br>
    <div>
      <h5>Benjamin-Ju</h5>
      <a class="btn btn-outline-primary mb-2 mr-2" href="https://github.com/Benjamin-Ju/Benjamin-Ju">Code</a><br>
      <i>May 2019 - Present</i>
      <div>
        <button type="button" class="btn btn-outline-secondary mr-2" style="color: white; background-color: black">AngularJS</button>
        <button type="button" class="btn btn-outline-secondary mr-2" style="color: white; background-color: green">Bootstrap</button>
        <button type="button" class="btn btn-outline-secondary mr-2" style="color: white; background-color: green">Github Pages</button>
    </div>
    <br>
  </div>
</div>