<div class="container" style="padding-top: 15px;">
  <mwl-demo-utils-calendar-header [(view)]="view" [(viewDate)]="viewDate">
  </mwl-demo-utils-calendar-header>
    
  <div class="container">
    My schedule for {{ clickedDate }}
    <br> <br>
    <div *ngFor="let item of schedule">
      <div>
        {{ item }}
      </div>
    </div>
    <br>
  </div>
    
  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="'month'"
      [viewDate]="viewDate"
      [events]="events"
      (dayClicked)="checkSchedule($event.day.date)"
    >
    </mwl-calendar-month-view>

  </div>
</div>
  
  